ul{
    list-style-type:none;
     display:  flex ; 
     justify-content: center;
     background-color: green; 
     /* a{
    background-color: red;} */
}
a{
    text-decoration: none;
    color: black;
}
*{
    padding: 0px;
    margin:0px;
    /* box-sizing: border-box; */
}