*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
 overflow-x: hidden;
 background-color: rgb(238, 241, 243);
}

.nav{
    margin-left: 350px;
   
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
}
#flower{
    font-size: 50px;
    margin-left: 100px;
    text-decoration: none;
    margin-top: 20px;
    color: palevioletred;
}
#font{
    margin-left: 250px;
    font-size: 20px;
}
#font1{
    font-size: 20px;
}  
#font2{
    font-size: 20px;
 }
 #img{
    position: absolute;
    z-index:-2;

 }
 #fresh{
    color:white;
    font-size: 60px;
    /* margin-top: 50px; */
 }
 #nat{
    color: pink;
    font-size: 30px;
 }
 #lo{
    color: rgb(160, 164, 167);
    font-size: 15px;
    margin-top: 10px;
    margin-right: 900px;
 }
 #shop{
    color: aliceblue;
    border: 1px solid rgb(229, 222, 222);
    background-color: black;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    font-size: 15px;
 }
 .dic{
    margin-top: 170px;
    margin-left: 100px;
 }
.art{
    margin-top: 50px;
}

#img1{
    position: absolute;
    z-index: -2;
    margin-left: 100px;
}
.art1 div{
    margin-left: 700px;
    margin-right: 100px;
   
}
.art1 button{
    margin-left: 700px;
}
 #a{
color: rgb(105, 103, 103);
margin-bottom: 15px;
margin-top: 10px;
font-size: 18px;
}
#b{
    color: rgb(105, 103, 103);
    margin-bottom: 15px;
    font-size: 18px;
}
#le{
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
} 
#le:hover{
    background-color: rgb(240, 130, 13);
    cursor: pointer;
}
#ch{
    font-size: 35px;
}
#about{
    font-size: 40px;
   /* background-color: rgb(249, 202, 210); */
   margin-left: 340px;
   margin-right: 340px;  
   margin-top: 240px;
  padding-left: 280px;
}
.sec{
    display: flex;
    /* justify-content: center; */
    margin-top: 50px;
    padding-left: 100px;
}
.sec article{
    display: flex;
   background-color:rgb(234, 231, 231);
    padding: 10px 60px;
    justify-content: center;
}
/* .arti{
    border: 1px solid black;
} */
#free{
    padding-top: 10px;
    font-size: 25px;
    padding-right: 10px;
}
#tech{
    font-size: 25px;
    padding-right: 10px;
    margin-top: 10px;
}
#secure{
    font-size: 25px;
    padding-right: 10px;
    margin-top: 10px;
}
/* --------------------------------------------------------------------------------- */
#lat{
    padding-left: 600px;
    margin-top: 20px;
    font-size: 40px;
}
#arti {
    padding-bottom: 130px;
    width: 320px;
    height: 260px;
}
.sec2{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
  
}
.sec2 article{
    border-radius: 5px;
   background-color: white;
   box-shadow: 1px 3px 4px rgb(142, 197, 233);
   margin-bottom: 30px;

}
.sec2 article:hover{
        transform: scale(1.1);
      }
#pic1{
    padding-left: 60px;
}
#flo{
font-size: 25px;
color: rgb(108, 109, 110);
padding-left: 100px;
}
#pri{
    font-size: 30px;
    color:pink;
    padding-left: 70px;
    margin-top: 6px;
}
#add{
    padding-left: 100px;
    font-size: 25px;
    border: 1px solid transparent;
    background-color:rgb(234, 176, 185)
   
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
#cust{
    padding-left: 600px;
    margin-top: 20px;
    font-size: 40px;
}
.rew{
    display: flex;
  
}
#m{
   
}