*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
 overflow-x: hidden;
 background-color: rgb(238, 241, 243);
}

.nav{
    margin-left: 350px;
   
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
}
#flower{
    font-size: 50px;
    margin-left: 100px;
    text-decoration: none;
    margin-top: 20px;
    color: palevioletred;
}
#font{
    margin-left: 250px;
    font-size: 20px;
}
#font1{
    font-size: 20px;
}  
#font2{
    font-size: 20px;
 }
 #img{
    position: absolute;
    z-index:-2;

 }
 #fresh{
    color:white;
    font-size: 60px;
    /* margin-top: 50px; */
 }
 #nat{
    color: pink;
    font-size: 30px;
 }
 #lo{
    color: rgb(160, 164, 167);
    font-size: 15px;
    margin-top: 10px;
    margin-right: 900px;
 }
 #shop{
    color: aliceblue;
    border: 1px solid rgb(229, 222, 222);
    background-color: black;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    font-size: 15px;
 }
 .dic{
    margin-top: 170px;
    margin-left: 100px;
 }
.art{
    margin-top: 50px;
}

#img1{
    position: absolute;
    z-index: -2;
    margin-left: 100px;
}
.art1 div{
    margin-left: 700px;
    margin-right: 100px;
   
}
.art1 button{
    margin-left: 700px;
}
 #a{
color: rgb(105, 103, 103);
margin-bottom: 15px;
margin-top: 10px;
font-size: 18px;
}
#b{
    color: rgb(105, 103, 103);
    margin-bottom: 15px;
    font-size: 18px;
}
#le{
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
} 
#le:hover{
    background-color: rgb(240, 130, 13);
    cursor: pointer;
}
#ch{
    font-size: 35px;
}
/* --------------------------------------offer-------------------- */

#off{
    margin-top: 250px;
    /* mix-blend-mode: color-burn; */
    border: 1px solid transparent;
    width: 340px;
    height: 220px;
background-image: url("https://img.freepik.com/premium-photo/flower-watercolor-background-design-floral-border-floral-wedding-invitation_605423-24788.jpg");
}
#day1{
  font-size: 30px;
  margin-left: 80px;
  margin-top: 100px;
}
#happy{
      font-size: 20px;
  margin-left: 60px;
}
.wer{
    display: flex;
    justify-content: space-between;
    margin-left:180px ;
    margin-right:180px;
}
#off:hover{
       transform: scale(1.1);
      }
/* ---------------------------------------------About */
#about{
    font-size: 40px;
   /* background-color: rgb(249, 202, 210); */
   margin-left: 340px;
   margin-right: 340px;  
   margin-top: 60px;
  padding-left: 280px;
}
.sec{
    display: flex;
    /* justify-content: center; */
    margin-top: 50px;
    padding-left: 100px;
}
.sec article{
    display: flex;
   background-color:rgb(234, 231, 231);
    padding: 10px 60px;
    justify-content: center;
}
#free{
    padding-top: 10px;
    font-size: 25px;
    padding-right: 10px;
}
#tech{
    font-size: 25px;
    padding-right: 10px;
    margin-top: 10px;
}
#secure{
    font-size: 25px;
    padding-right: 10px;
    margin-top: 10px;
}
/* ------------------------------------------latest product--------------------------------------- */
#lat{
    padding-left: 600px;
    margin-top: 60px;
    font-size: 40px;
}
#arti {
    padding-bottom: 130px;
    width: 320px;
    height: 260px;
}
.sec2{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
  
}
.sec2 article{
    border-radius: 5px;
   background-color: white;
   box-shadow: 1px 3px 4px rgb(142, 197, 233);
   margin-bottom: 30px;

}
.sec2 article:hover{
        transform: scale(1.1);
      }
#pic1{
    padding-left: 60px;
}
#flo{
font-size: 25px;
color: rgb(108, 109, 110);
padding-left: 100px;
}
#pri{
    font-size: 30px;
    color:pink;
    padding-left: 70px;
    margin-top: 6px;
}
#add{
    padding-left: 100px;
    font-size: 25px;
    border: 1px solid transparent;
    background-color:rgb(234, 176, 185)
   
}
/* -----------------------------------------------------------------------------top products----------------------------------------------------------------- */
#top{
    margin-left: 600px;
    margin-top: 50px;
    font-size: 40px;
   margin-bottom: 20px;
}
.pro{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
   margin-top: 20px;
}
.pro article div{
    margin-top: 5px;
}
#pink{
    margin-left: 60px;
    color: rgb(132, 134, 135);
    
}
#dol{
      margin-left: 80px;
       color: rgb(81, 82, 83);
}
/* -------------------------------------------------------custmer reviews-------------------- */

#cust{
    margin-left: 600px;
    margin-top: 80px;
    font-size: 40px;
   margin-bottom: 20px;
}
.rew {

 display: flex;
 justify-content:space-evenly;
}
.rew article{
  padding:20px 10px 20px 15px ;
    border: 1px solid black;
    width: 300px;
    background-color: blanchedalmond;
    border-radius: 10px;
}
#ch{
    margin-left: 80px;
    font-size: 20px;
   margin-top: 7px;
}
#star{
      margin-left: 90px;
    font-size: 15px;
    margin-top: 10px;
}
/* -------------------------------------------------------------------------------- */


